body {
	background-image: url(../img/AppSiteBG.jpg);
	background-size: cover;
	color: white;
	font-family: 'Advent Pro', sans-serif;
}

header {
	background-size: cover;
	color: black;
	opacity: 0.8;
	text-align: center;
}

nav {
	background-color: lightslategray;
	background-size: cover;
	border-bottom: 5px black;
	margin-bottom: -16;
	padding-right: 50px;
	text-align: right;
}

h1 {
	background-color: red;
	font-size: 75px;
	margin: 0;
}

footer {
	background-color: slategrey;
	padding-bottom: 25px;
	padding-top: 25px;
}

button {
	border-radius: 30px;
	font-size: 28px;
	margin-bottom: 285px;
	margin-top: 25px;
}

nav li {
	list-style: none;
}

a {
	color: red;
	text-decoration: none;
}

.logo {
	float: left;
}

.material {
	background-color: darkred;
	opacity: 0.8;
}

.quotes {
	background-color: darkred;
	opacity: 0.8;
}

.img {
	max-height: 500px;
	max-width: 500px;
}